::selection {
    background-color: black;
    color: white;
}

body {
    width: 100vmin;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: var(--accent2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Fredoka One';
}

div.container {
    display: grid;
    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
    align-items: stretch;
    justify-items: stretch;
}

div.container p {
    text-align: center;
    font-size: clamp(13px, 1.5vmin, 24px);
    max-width: 95%;
}

div#moon-tracker {
    grid-column: 1 / -1;
    grid-row: 1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    justify-items: stretch;
}

div#moon-tracker p {
    font-size: clamp(20px, 3vmin, 36px);
    text-shadow: black 0 0 10px, black 0 0 14px;

}

div#moon-tracker div#moon-tracker-moon {
    grid-row: 2;
    grid-column: 6;
    color: white !important;
    transition: background-color linear 0.2s;
}

div#ability-tracker {
    grid-row: 2;
    grid-column: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: start;
}

div#ability-tracker img {
    max-width: 100%;
    max-height: 100%;
}

div#capture-tracker {
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: start;
}

div.container > div {
    background: #f3f3f3;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 60px;
    min-height: 60px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    /* border: 2px solid transparent; */
    cursor: pointer;
}

div#capture-tracker img {
    max-width: 100%;
    max-height: 100%;
}


div#moon-tracker > div.moon-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    padding: 6px 4px;
    background: transparent;
    color: white;
    transition: background-color linear 0.2s;
}

div.moon-panel div.moon-filter {
    position: absolute;
    backdrop-filter: grayscale(1);
    width: 100%;
    height: 0;
    top: 0;
    transition: height ease-in-out 0.2s;
}

div#moon-tracker > div.moon-panel img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    
}

div#moon-tracker > div.moon-panel > span {
    position: absolute;
    font-weight: bold;
    font-size: clamp(20px, 3vmin, 36px);
    right: 12px;
    text-shadow: black 0 0 10px, black 0 0 14px;
    outline: none;
}

div#moon-tracker > div.moon-panel span.moon-amount {
    top: 8px;
}

div#moon-tracker > div.moon-panel span.moon-total {
    bottom: 8px;
}

div#moon-tracker > div.moon-panel span.moon-total span {
    outline: none;
}

div#capture-overflow img {
    max-width: 100%;
    max-height: 100%;
}

div.locked {
    background-color: var(--locked) !important;   
    filter: grayscale();
}

div#capture-overflow-hamburger {
    grid-column: 5;
    grid-row: 5;
    border-radius: 50%;
    background-color: var(--locked);
    border-color: transparent;
    z-index: 200;
    cursor: pointer;
}

div#capture-overflow-hamburger img {
    height: 100%;
}

div#capture-overflow {
    position: fixed;
    background: var(--secondary) /*repeating-linear-gradient(15deg, #771818, #8f9130 100px, #771818 200px) */ !important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: start;
    z-index: -100;
    opacity: 0;
    bottom: 10px;
    right: 10px;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: black -6px 6px 12px;
}

div#capture-overflow div#button-menu {
    grid-column: 5;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: none;
    gap: 5px;
    cursor: pointer;
}

div#capture-overflow div#button-menu div {
    background-color: var(--locked);
    border-radius: 50%;
    font-size: 5px;
    aspect-ratio: 1 / 1;
}

div#capture-overflow div#button-menu div a {
    width: 100%;
    height: 100%;
}

div#capture-overflow div#button-menu div a img {
    max-width: 100%;
    max-height: 100%;
}