:root {
    --primary: #e52521;
    --secondary: #2c2c2c;
    --accent1:	#333333;
    --accent2:	#0F0F13;
    --neutral-light: #F2F2F2;
    --medium-gray: #6f7d8a;
    --success: #47D17A;
    --locked: #4e4e4e;
}

@font-face {
    font-family: 'Fredoka One';
    src: url("../resource/fredokaone.TTF");
}

::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no space is taken up by the scrollbar */
  height: 0; /* Ensures no space is taken up by the scrollbar */
}

body {
    margin: 0;
    background-color: var(--accent2);
    overflow: hidden;
    font-family: 'Fredoka One';
}

img {
    user-select: none;
    filter: drop-shadow(0px 0px 6px black)
}

div#kingdom-list {
    background: none;
    position: fixed;
    top: 0px;
    left: 10px;
    width: 120px;
    overflow-y: scroll;
    height: 100%;
}

div#kingdom-list div {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 4px solid var(--neutral-light);
    background-color: var(--neutral-light);
    padding: 0px;
    border-radius: 10px;
    aspect-ratio: 1 / 1 ;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div#kingdom-list div.selected {
    border-color: var(--primary);
}

div#kingdom-list div img {
    display: block;
    transform-origin: center center;
    width: auto;
    object-fit: cover;
    height: 120%;
    transform: scale(1.01);
}

div#kingdom-list div:hover img {
    transition: transform 10s ease-out;
    transform: scale(1.3)
}

div#sidebar {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100%;
    width: 20vw;
    background-color: var(--medium-gray);
    padding-left: 4px;
}

div#sidebar-tabs {
    position: absolute;
    height: 100%;
    top: 0;
    left: -36px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

div#sidebar-tabs div {
    background-color: var(--secondary);
    writing-mode: vertical-rl;
    text-align: center;
    z-index: 90;
    padding: 10px;
    margin: 10px 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

div#sidebar-tabs div p {
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

div#sidebar-tabs div.selected {
    background-color: var(--medium-gray);
    z-index: 300;
}

div#sidebar div#sidebar-dragbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    z-index: 200;
    background-color: var(--secondary);
    cursor: w-resize;
}

div#sidebar-content {
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
    overflow: scroll;
    padding: 10px;
}

div#sidebar-content > div {
    display: block;
    background-color: var(--neutral-light);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    /* border: 2px solid transparent; */
    cursor: pointer;
}

div#sidebar-content div img {
    max-width: 100%;
    max-height: 100%;
}

.locked {
    background-color: var(--locked) !important;
    filter: grayscale();
}